
{{> head }}

{{> navbar }}
    
<div class="col-8">
    <h1>Capitan America</h1>
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Autem, 
        quas atque assumenda aliquam quae inventore iure deserunt, veritatis 
        nihil labore, voluptates nam. Consectetur, accusamus magni. 
        Error eius quidem architecto reprehenderit?
    </p>
    
</div> 

<div class="col-4">

    <img src="assets/img/capitan-america.png" class="img-thumbnail"/>   
    
</div> 

{{> footer }}